@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

  
.landingpage-container {
    background-image:linear-gradient(-30deg, #CF2E4B, #1B4BF5) ;
    padding-top: 60px;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}
.mainimg-wrapper {
    position: static;
    display: flex;
    justify-content: center;
}

.mainimg-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.premiumshoestext {
    width: 1300px;
    position: absolute;
}

.landingpage-description {
    position: absolute;
    bottom: 100px;
    left: 100px;
    font-size: 40px;
    font-family: Kodchasan, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.landingpage-description a {
    all: unset;
    background-color: #DA1313;
    border-radius: 50px;
    border: 2px white solid;
    padding: 10px 40px;
    font-size: 20px;
    transition: background-color 1s;
    cursor: pointer;
}

.landingpage-description a:hover {
    background-color: #D516FF;
}

